
.container{
    background-color: #494848;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxContact{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.textContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 28px;
    font-weight: 600;
}