
.container{
    background-color: #494848;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxContact{
    display: flex;
    flex-direction: column; 
    justify-content: center;   
    align-items: center;
    margin-bottom: 50px;
    
}

.textContact{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 20px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-radius: 8px;
    box-shadow: inset 0 0 15px #94FC3C;
    background-color: #494848;
    color: white;
    border: none;    
    font-size: 1rem;
    min-height: 3rem;
    resize: none;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.mensagemContact{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 600px;
    text-align: justify;
    border-radius: 10px;
    padding-left: 15px;
    box-shadow: inset 0 0 15px #94FC3C;
    background-color: #494848;
    color: white;
    border: none;
    text-align: start;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    resize: vertical;
    overflow-y: auto;
    font-size: 1rem;
    min-height: 3rem;
    font-size: 20px;
}

.title{
    font-size: 28px;
    font-weight: 600;
    color: #A3CB3C;
    
}

.submitButton{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #A3CB3C;
    border: none;
    color: #494848;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitButton:hover{
    color: #A3CB3C;
    background-color: #494848;
    border: 2px solid #A3CB3C;
}

.logo{
    display: flex;
    width: 356px !important;
    height: 200px !important;
}

.iconRedesSociais{
    display: flex;
    flex-direction: row;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A3CB3C;
}

.logo{
    display: flex;
    width: 220px;
    height: 150px;
}

.textRedesSociais{
    font-size: 30px;
}

.creditos{
    display: flex;
    flex-direction: flex-end;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #A3CB3C;
}

.boxFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1370px) {
    .logo{
        margin-left: 20px;
        width: 261px !important;
        height: 150px !important;
    }

    .redesSociais{
        font-size: 18px;
    }

    .textRedesSociais{
        font-size: 22px;
    }
    
}

@media (max-width: 1150px) {
    .boxFooter{
        flex-direction: column;
    }

    .logo{
        margin-bottom: 30px;
    }

    .redesSociais{
        margin-top: 50px;
    }
}

@media (max-width: 642px){
    .mensagemContact{
        width: 100%;
    }

    .textContact{
        width: 100%;
    }

    .creditos{
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin-left: 40px;
        margin-right: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }
}




