.boxContact{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.textContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}