body {
    margin: 0;
    padding: 0;
  }

.boxHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
}

.text{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    align-items: center;
}

.logo{
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: flex-start;
    align-items: left;
    margin-bottom: 10px;
    margin-top: 10px;

}

