.container{
    background-color: #494848;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    color: #A3CB3C;
}

.iconRedesSociais{
    display: flex;
    flex-direction: row;
}

.redesSociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    width: 220px;
    height: 150px;
}

.textRedesSociais{
    font-size: 30px;
}

.creditos{
    display: flex;
    flex-direction: flex-end;
    position: absolute;
    bottom: 15px;
    right: 20px;
}