.title{
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    color: #494848;
    margin-top: 30px;
}

.nome{
    display: flex;
    white-space: nowrap;
    
}

.texto{
    font-size: 28px;
    font-weight: 300;
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: justify;
    color: black;
}

.foto{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
}

.container{
    align-items: center;
    background-color: #A3CB3C;
    display: flex;
}

.boxSobre{
    display: flex;
    margin-left: 70px;
}

.nameAndFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 700px){

    .boxSobre{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-top: 30px;
    }

    .texto{
        font-size: 22px;
        font-weight: 300;
    }

    .foto{
        width: 150px;
        height: 150px;
        display: flex;
    }
    
    .nome{
        font-size: 24px;
    }
}