.title{
    font-size: 28px;
    font-weight: 600;
    align-items: center;
    color: #494848;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A3CB3C;
}

.boxServicos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    min-width: 200px;
  }

.icone{
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: row;
}

.textItem{
    margin-top: 10px;
    margin-bottom: 35px;
}

/*Aqui começa o carousel*/

.carouselWrapper{
    width: 30%;
    margin-bottom: 40px;
    height: contain;
}

.carouselItem{
  background-color: transparent !important;
}

/* Estilo dos botões de seta */
.arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #94FC3C;
    margin: 0 10px;
    outline: none;
  }
  
  /* Estilo da seta para esquerda */
  .arrowPrev {
    transform: rotate(180deg);
  }
  
  /* Estilo da paginação */
  .pagination {
    display: flex;
    justify-content: center;
    
  }
  
  /* Estilo dos botões de paginação */
  .pageButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000000;
    margin: 0 5px;
    outline: none;
  }
  
  /* Estilo da página ativa */
  .activePage {
    background-color: #94FC3C;
    border-radius: 100%;
    border: none; 
    width: 10px;
    height: 10px;
    outline: 1px solid #94FC3C;
  }
  
  /* Estilo da página inativa */
  .inactivePage {
    opacity: 0.5;
    border-radius: 100%;
    background-color: #494848;
    box-shadow: 0;
    border: none; 
    width: 10px;
    height: 10px;
    outline: 1px solid #94FC3C;
  }

  @media (max-width: 2000px) {
    .carouselWrapper{
      width: 60%;
    }
  }

  @media (max-width: 1230px) {
    .carouselWrapper{
      width: 70%;
    }
  }

  @media (max-width: 1100px) {
    .carouselWrapper{
      width: 100%;
    }
  }


  @media (max-width: 600px) {

    .boxServicos{
      flex-direction: column;
    }

    .textItem{
      font-size: 14px;
    }

    .icone{
      width: 80px;
      height: 80px;
    }

    .carouselWrapper{
      width: ;
    }

  }

  
