.containe{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto{
    width: 10%;
    height: 10%;
}

.nome{
    font-size: 20px;
}

.descricao{
    font-size: 20px;
}

.mensagem{
    font-size: 25px;
}